<template>
  <body>
    <div class="balance">
      <!-- The main balance displayed on the screen, along with the return underneath -->
      <!-- hardcoded values currently in place -->
      <h1>$ 1 0 2 1 . 6 7 </h1>
      <h3>(<em>21.67%</em>)</h3>
    </div>
  </body>

</template>

<script>
  export default {

  }
</script>

<style scoped>
.balance {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  color: #183044;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.balance h1, h3 {
  font-weight: 250;
}
</style>
