<template>
  <div id="app">
    <body>
      <div class="coins">
        <p v-for="result in results" :key="result">{{ result }}</p>
      </div>
      <div class="navigation">
        <a href="home">HOME</a>
        <a href="account">ACCOUNT</a>
        <a href="settings">SETTINGS</a>
        <a href="/#">LOG OUT</a>
      </div>

    </body>
  </div>
</template>

<script>
//import Homepage from './components/Homepage';
import axios from 'axios';

export default {
  name: 'app',
  components: {

  },
  data () {
    return {
      results: []
    }
  },
  filters: {
    currencydecimal (value) {
      return value.toFixed(2)
    }
  },
  mounted () {
    var vm = this
    axios({
      method: 'get',
      url: 'https://dev.mycryptorithm.net/bitzoom-be/api/currencys',
      crossdomain: true,
      headers: {
        'auth_token': 'fdnngosdfng',
        'content-type': 'application/json'
      }
    })
    .then(response => {
      vm.results = response.data
    })
    .catch(error => {
      vm.results = error
    })
  }
}
</script>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #E5E8E8;
    font-family: sans-serif, arial;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto 50px;
    grid-gap: 0px;
    min-width: 1000px;
  }

  .coins {
    grid-column: 1;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    background: #183044;
    text-align: center;
    color: #E5E8E8;
    justify-content: center;
  }

  .navigation {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    border: 3px solid #183044;
    background: #183044;
    text-align: center;
  }

  .navigation a {
    color: #E5E8E8;
    display: inline-block;
    width: 150px;
    text-decoration: none;
    padding-top: 15px;
    letter-spacing: 2px;
  }

  .navigation a:hover {
    text-decoration: underline;
  }

</style>
